<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/explanation.css">
    <script type="text/javascript" src="/public/caleightmansionfs1.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="js/script.js"></script> -->

</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <img src="images/logo.png" alt="" width="200px" ; height="auto">
                </div>
            </div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid nav_background">                    
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/explanation">Explanation</a></li>
                                <li><a href="/solution">Solution</a></li>
                        </ul>
                       
                    </div>
                </div>
            </nav>
        </header>

        <div class="content_Feng_Shui">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h3>NHÀ PHONG THỦY</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 content_Feng_Shui_cl">
                        <div class="col-xs-2 col-sm-2 col-md-2 cl">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_green">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_blue">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_red">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_brown">
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div></br>
    <div class="container">
        <div class="content_background">
            <div class="row">
                <div class="content_right">
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="right">
                            <h3>Sheng Chi--Luckiest</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>Sinh khí: Thuộc sao Tham Lang, là sao tốt; thu hút tài lộc, danh tiếng, thăng quan
                                    phát tài. Chủ về vượng khí, có lợi cho con trai, lợi cho danh tiếng, tạo ra sức
                                    sống dồi dào cho con người, tính dục mạnh mẽ. Nếu sinh khí mà không may có khu vệ
                                    sinh, phòng kho,… thì hay mất vặt, thất nghiệp, đẻ non, nhiều bệnh tật.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_left">
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="left">
                            <h3>Tien Yi--Luckiest</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>Thiên y: Thuộc sao Cự Môn, là sao tốt; cải thiện sức khỏe, trường thọ. Chủ về sức
                                    khỏe tốt, lợi cho phụ nữ, vượng tài lộc, tiêu trừ bệnh, tâm tính ổn định, có giấc
                                    ngủ ngon, thường có quý nhân phù trợ, luôn đổi mới. Nếu Thiên y mà không may có khu
                                    vệ sinh, phòng kho ,… thì mắc bệnh kinh niên, chứng ung thư.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>

                </div>
                <div class="content_right">
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="right">
                            <h3>Yan Nien--Medium Luck</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>Diên niên: Thuộc sao Vũ Khúc, là sao tốt; củng cố các mối quan hệ trong gia đình, tình yêu. Đây là hướng hoà thuận, tốt cho sự nghiệp và ngoại giao, với các mối quan hệ khác, vợ chồng hoà thuận, tuổi thọ tăng thêm, bớt kẻ địch, tính hoà dịu, với nữ giới có bạn đời tốt. Nếu Diên niên không may có khu vệ sinh, phòng kho ,… thì hay cãi vã thị phi, nhà cửa không yên ổn.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_left">
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="left">
                            <h3>Fu Wei--Little Luck</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>Phục vị: Thuộc sao Tả Phù, là sao tốt; củng cố sức mạnh tinh thần, mang lại tiến bộ của bản thân, may mắn trong thi cử. Đây là hướng bình yên, trấn tĩnh, có lợi để bàn thờ. Vững cho chủ nhà, tình duyên nam nữ gắn bó, khả năng tài chính tốt, quan hệ cha mẹ vợ con tốt nhưng tình dục giảm sút. Nếu Phục vị không may có khu vệ sinh, phòng kho …. thì gia chủ nóng nảy, luôn cảm thấy bất yên.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>

                </div>
                <div class="content_right">
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="right">
                            <h3>Mishaps--Worst</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>Tuyệt mệnh: Thuộc sao Phá Quân, rất xấu; phá sản, bệnh tật chết người. Nếu Tuyệt mệnh mà xây khu vệ sinh, phòng kho thì chủ nhà có sức khoẻ tốt, tuổi thọ tăng thêm, duyên phận con cái tốt, có tài vận. Nếu Tuyệt mệnh vào vị trí tốt (cửa ra vào, phòng ngủ, bếp ): chủ nhân bị bệnh khó chữa, mổ xẻ, đụng xe, mất trộm, trong người cảm thấy không yên ổn, mọi việc tính toán quá đáng, buồn phiền, đau khổ, u sầu, ít nói, ức chế tâm thần, duyên phận con cái bạc bẽo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_left">
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="left">
                            <h3>Five Ghosts--Worst</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>Ngũ quỷ: Thuộc sao Liêm Trinh, là sao xấu; mất nguồn thu nhập, mất việc làm, cãi lộn. Nếu Ngũ quỷ là khu vệ sinh, kho thì có thể biến xấu thành tốt. Nếu cung Ngũ Quỷ là vị trí tốt (cửa ra vào, phòng ngủ, bếp) thì các sự việc lôi thôi vô cớ ập đến, người nhà có khả năng đụng chạm dao kéo mổ xẻ, ung thư, tai tiếng thị phi, mất trộm, phá sản, hoả hoạn.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>

                </div>
                <div class="content_right">
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="right">
                            <h3>Six Killings--Medium bad</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>Lục sát: Thuộc sao Lộc Tốn, xấu; xáo trộn trong quan hệ tình cảm, thù hận, kiện tụng, tai nạn. Nếu Lục sát là khu vệ sinh, kho thì người trong nhà có suy nghĩ đúng đắn, có số đào hoa và lợi cho đuờng tình duyên. Nếu cung Lục sát là vị trí tốt (cửa ra vào, phòng ngủ, bếp) thì tình duyên trắc trở, vợ chồng thường cãi nhau, sự nghiệp không tốt. Riêng với nam giới thì không lo làm ăn, hay rượu chè cờ bạc.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_left">
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="left">
                            <h3>Disaster--Little bad</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>Hoạ hại: Thuộc sao Lộc Tốn, xấu; không may mắn, thị phi, thất bại. Nếu Hoạ hại là khu vệ sinh, kho thì người trong nhà được yên ổn, hoà thuận, sức khoẻ tốt, không xảy ra quan sự. Nếu Hoạ hại là vị trí tốt ( cửa ra vào, phòng ngủ, bếp ) thì người nhà bị chia rẽ, quan tai, mệt mỏi vì những việc vụn vặt, hay thưa kiện với người ngoài, thất tài.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>

                </div>
            </div>
            <div class="button fix-button">
                    <!-- <input type="button" value="Dung dịch" onclick="showsolution()"> -->
                    <a class="btn btn-primary" href="/solution">Dung dich</a>
            </div>
            <br>
        </div>
        
    </div></br>

    <div class="container">
        <div class="footer">
            <div class="col-xs-12 col-sm-12 col-md-12 footer_background">
                <div class="footer_left">
                    <div class="col-xs-12 col-sm-2 col-md-1"></div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <img src="/assets/images/logo.png" alt="" width="120px" ; height="50px">
                        <span></span>
                    </div>
                </div>
                <div class="footer_center">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>NHÀ PHONG THỦY</h4>
                            <div class="footer_address">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_right">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>八宅风水</h4>
                            <div class="footer_address">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>