<!DOCTYPE HTML>
<html lang="vn">

<head>
    <meta charset="UTF-8">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/calculater.css">
    <!-- <link rel="stylesheet" type="text/css" href="caleightmansionfs1.css"> -->
    <script type="text/javascript" src="/public/js/caleightmansionfs1.js"></script>
</head>

<body onload="hide()">
    <div class="container background-image">
        <header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 xol-md-12">
                    <a href="/"><img src="/assets/images/logo.png" alt="" width="200px" ; height="auto"></a>
                </div>
            </div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid nav_background">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Trang Chủ</a></li>
                            <li><a href="/explanation">Giải Trình</a></li>
                            <li><a href="/solution">Phương Pháp Hóa Giải</a></li>
                        </ul>

                    </div>
                </div>
            </nav>
        </header>
        <div class="content_Feng_Shui">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h3>NHÀ PHONG THỦY</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 content_Feng_Shui_cl">
                        <div class="col-xs-2 col-sm-2 col-md-2 cl">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_green">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_blue">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_red">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_brown">
                            <hr />
                        </div>

                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="form-group">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                            <label for="usr">Họ và Tên:</label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                            <label for="email">Email:</label>
                            <input type="email" name="" id="input" class="form-control" value="" required="required"
                                title="">

                        </div>
                        <div class="form-group">
                            <p>Năm sinh của bạn:
                                <select id="bornyear">
                                    <option value="1950">1950</option>
                                    <option value="1951">1951</option>
                                    <option value="1952">1952</option>
                                    <option value="1953">1953</option>
                                    <option value="1954">1954</option>
                                    <option value="1955">1955</option>
                                    <option value="1956">1956</option>
                                    <option value="1957">1957</option>
                                    <option value="1958">1958</option>
                                    <option value="1959">1959</option>
                                    <option value="1960">1960</option>
                                    <option value="1961">1961</option>
                                    <option value="1962">1962</option>
                                    <option value="1963">1963</option>
                                    <option value="1964">1964</option>
                                    <option value="1965">1965</option>
                                    <option value="1966">1966</option>
                                    <option value="1967">1967</option>
                                    <option value="1968">1968</option>
                                    <option value="1969">1969</option>
                                    <option value="1970">1970</option>
                                    <option value="1971">1971</option>
                                    <option value="1972">1972</option>
                                    <option value="1973">1973</option>
                                    <option value="1974">1974</option>
                                    <option value="1975">1975</option>
                                    <option value="1976">1976</option>
                                    <option value="1977">1977</option>
                                    <option value="1978">1978</option>
                                    <option value="1979">1979</option>
                                    <option value="1980">1980</option>
                                    <option value="1981">1981</option>
                                    <option value="1982">1982</option>
                                    <option value="1983">1983</option>
                                    <option value="1984">1984</option>
                                    <option value="1985">1985</option>
                                    <option value="1986">1986</option>
                                    <option value="1987">1987</option>
                                    <option value="1988">1988</option>
                                    <option value="1989">1989</option>
                                    <option value="1990">1990</option>
                                    <option value="1991">1991</option>
                                    <option value="1992">1992</option>
                                    <option value="1993">1993</option>
                                    <option value="1994">1994</option>
                                    <option value="1995">1995</option>
                                    <option value="1996">1996</option>
                                    <option value="1997">1997</option>
                                    <option value="1998">1998</option>
                                    <option value="1999">1999</option>
                                    <option value="2000">2000</option>
                                    <option value="2001">2001</option>
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                </select>

                                <p>Giới tính của bạn:
                                    <select id="gender">
                                        <option value="M">Nam</option>
                                        <option value="F">Nu</option>
                                    </select>

                                    <p>Hướng nhà của bạn:
                                        <select id="direction">
                                            <option value="NT">BẮC</option>
                                            <option value="NE">ĐÔNG BẮC</option>
                                            <option value="ET">ĐÔNG</option>
                                            <option value="SE">ĐÔNG NAM</option>
                                            <option value="ST">NAM</option>
                                            <option value="SW">TÂY NAM</option>
                                            <option value="WT">TÂY</option>
                                            <option value="NW">TÂY BẮC</option>
                                        </select>

                                        <p><input type="button" value="Tính toán " onclick="checkmain()" /></p>
                                        <p><input type="text" id="result1" size="50" value="" /></p>
                                        <p><input type="text" id="result2" size="50" value="" /></p>
                                        <p><input type="text" id="result3" size="50" value="" /></p>
                                        <div id="explain">
                                            <!-- <input type="button" value="Giải trình" onclick="showexplain()" /> -->
                                            <a class="btn btn-primary" href="/explanation">Giải Trình</a>
                                        </div>
                                        <br>
                                        <table width="300" height="300" style="border:1px #cccccc solid;" cellpadding="5"
                                            border="1">
                                            <tr>
                                                <td width="33%" id="tnw">Tây Bắc<br /></td>
                                                <td width="33%" id="tnt">Bắc<br /></td>
                                                <td width="33%" id="tne">Đông Bắc<br /></td>
                                            </tr>
                                            <tr>
                                                <td id="twt">Tây<br /></td>
                                                <td id="tct">Trung<br /></td>
                                                <td id="tet">Đông<br /></td>
                                            </tr>
                                            <tr>
                                                <td id="tsw">Tây Nam<br /></td>
                                                <td id="tst">Nam<br /></td>
                                                <td id="tse">Đông Nam<br /></td>
                                            </tr>
                                        </table>
                                        <div class="content_table">
                                            <div id="explain2">
                                                <div class="table_note_red">
                                                    <hr>
                                                    <span>Màu đỏ là cát vị.</span>
                                                </div>
                                                <div class="table_note_blue">
                                                    <hr>
                                                    <span>Màu xanh nhạt là hung vị.</span>
                                                </div>
                                            </div>
                                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>





    <div class="container">
        <div class="footer">
            <div class="col-xs-12 col-sm-12 col-md-12 footer_background">
                <div class="footer_left">
                    <div class="col-xs-12 col-sm-2 col-md-1"></div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <img src="/assets/images/logo.png" alt="" width="120px" ; height="50px">
                        <span></span>
                    </div>
                </div>
                <div class="footer_center">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>NHÀ PHONG THỦY</h4>
                            <div class="footer_address">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_right">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>八宅风水</h4>
                            <div class="footer_address">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<html>