<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Solution</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/solution.css">

</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 xol-md-12">
                    <a href="/"><img src="/assets/images/logo.png" alt="" width="200px" ; height="auto"></a>
                </div>
            </div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid nav_background">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Trang Chủ</a></li>
                            <li><a href="/explanation">Giải Trình</a></li>
                            <li><a href="/solution">Phương Pháp Hóa Giải</a></li>
                        </ul>

                    </div>
                </div>
            </nav>
        </header>

        <div class="content_Feng_Shui">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h3>NHÀ PHONG THỦY</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 content_Feng_Shui_cl">
                        <div class="col-xs-2 col-sm-2 col-md-2 cl">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_green">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_blue">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_red">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_brown">
                            <hr />
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="solution_background">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="solution_content">
                            <h3>Mệnh trạch tương phối</h3>
                            <hr>
                            <p>Nếu là đôg tứ mệnh thì sẽ ở nhà đông tứ trạch, tây tứ mệnh ở nhà tây tứ trạch, căn cứ
                                vào các vị trí hung cát của căn nhà để xác định cát hung.</p>
                            <p>Cát vị: giường ngủ, không gian sinh hoạt.</p>
                            <p>Hung vị: nhà vệ sinh, nhà bếp là những nơi mà con người ít khi ở lại lâu</p>
                            <p>Nếu không tránh được các chỗ hung vị?</p>
                            <p>1. Đặt một số đồ vật để hóa giải</p>
                            <p>Tuyệt mệnh thuộc mạng kim:</p>
                            <p>Hóa giải bằng lửa: vật có màu đỏ, hình tam giác, đồ điện, đồ điện tử</p>
                            <p>Ngũ quỷ thuộc mạng hỏa:</p>
                            <p>Hóa giải bằng lửa: vật màu xanh lam, uốn lượn, dạng dòng chảy, hồ cá, thực vật thủy sinh</p>
                            <p>Lục sát thuộc mạng thủy:</p>
                            <p>Hóa giải bằng nước: vật màu vàng, hình tròn, đồ trang trí bằng đá</p>
                            <p>Họa hại thuộc mạng thổ:</p>
                            <p>Hóa giải bằng gỗ: vật màu xanh lá, hình chữ nhật, đồ trang trí bằng gỗ</p>
                            <p>2. Tìm thầy phong thủy bố trí lại nhà cửa theo Bát trạch minh kính.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="solution_content">
                            <h3>Mệnh trạch không tương phối.</h3>
                            <hr>
                            <p>Mệnh trạc không tương phối sẽ không dọn nhà được? Hãy thử thử vài cách sau:</p>
                            <p>1. Nếu gặp phải trường hợp mệnh trạch không tương phối, thì không nên căn cứ vào vị trí
                                cát hung của căn nhà để xác định cát hung, mà nên căn cứ vào vị trí cát hung của con
                                người để định cát hung, như là: nhân vi ly mệnh, trú đoái trạch. Nhà ở hướng chính
                                đông, tuy chính đông của đoái trạch là đại hung, nhưng căn vào phương vị quẻ mệnh của
                                người mà nói, hướng chính đông lại là vị trí sinh khí đại cát. Tuy có thể căn cứ vào
                                quẻ mệnh của mỗi người để tính, nhưng hiệu quả chính xác sẽ không như mệnh trạch tương
                                phối, nhưng lấy quẻ mệnh của mỗi người làm chuẩn, thường sẽ đạt hiệu quả 60% trở lên
                                trong thuyết mệnh trạch tương phối.</p>
                            <p>2. Đổi hướng nhà ở
                                Làm cách để nâng cao hiệu quả này? Có một cách rất đơn giản là đặt bức bình phong, bình
                                phong trong nhà đóng vai trò rất quan trọng, thời xưa phạm vị sử dụng rất lớn, người ta
                                thường dùng bình phong để ngăn các gian với nhau. Đối với người tây tứ mệnh có cửa lớn
                                nằm ở hướng bắc hung vị, tức là cửa mang sát khí, nhưng nếu đặt ở huyền quan một bức
                                bình phong, đáng lẽ khí từ bên ngoài nhà sẽ chuyển từ bắc sang nam, nay sẽ chuyển từ
                                tây sang đông, hướng tây vốn là hướng phùng hung hóa cát của người tây tứ mệnh. Bình
                                phong có ba công dụng lớn: thay đổi hướng nhà ở, ngăn cách không gian, bảo vệ quyền
                                riêng tư. Dựa trên các chật liệu khác nhau, sẽ chia thành bình phong làm từ thủy tinh,
                                bình phong điêu khắc trạm trổ, bình phong thư họa. đặc điểm là chỉ chiếm một phần diện
                                tích nhỏ, lại dễ dàng di dời, không chỉ có thể thay đổi hướng nhà ở, mà còn hóa giải
                                mệnh trạch không tương phối, mà còn hóa giải ngoại sát. Bình phong đặt tại vị trí huyền
                                quan, phong thủy của bình phong thuộc về một phần trong phong thủy huyền quan.</p>
                            <p>3. Thay đổi hướng cửa hoặc nội thất bên trong nhà
                                Thực tế cách hóa giải mệnh trạch không tương phối hiệu quả nhất là thay đổi hướng nhà,
                                thậm chí tìm cả nhà thiết kế để thay đổi nội thất bên trong nhà.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer">
            <div class="col-xs-12 col-sm-12 col-md-12 footer_background">
                <div class="footer_left">
                    <div class="col-xs-12 col-sm-2 col-md-1"></div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <img src="/assets/images/logo.png" alt="" width="120px" ; height="50px">
                        <span></span>
                    </div>
                </div>
                <div class="footer_center">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>NHÀ PHONG THỦY</h4>
                            <div class="footer_address">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_right">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>八宅风水</h4>
                            <div class="footer_address">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>