<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/solution.css">

</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 xol-md-12">
                    <a href="/en"><img src="/assets/images/logo.png" alt="" width="200px" ; height="auto"></a>
                </div>
            </div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid nav_background">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/en">Home</a></li>
                            <li><a href="/en/explanation">Explanation</a></li>
                            <li><a href="/en/solution">Solution</a></li>
                        </ul>
                        <div class="nav navbar-nav navbar-right">
                            <ul class="nav navbar-nav navbar-right flag">
							  <li><a href="/"><span><img src="/assets/images/vn.png"  height="15px" width="20px"></span>| </a></li>							  
                              <li><a href="/cn"><span><img src="/assets/images/cn.jpg"  height="15px" width="20px"></span>|</a></li>
                              <li><a href="/en"><span><img src="/assets/images/en.jpg" height="15px" width="20px"></span></a></li>							  
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        </header>

        <div class="content_Feng_Shui">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h3>FENG SHUI HOME</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 content_Feng_Shui_cl">
                        <div class="col-xs-2 col-sm-2 col-md-2 cl">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_green">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_blue">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_red">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_brown">
                            <hr />
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="solution_background">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="solution_content">
                            <h3>Life and Mansion is matched</h3>
                            <hr>
                            <p>If West life live in West Mansion or East life live in East Mansion, then they are matched. Please follow the calculation of good and bad space to plan the mansion.</p>
                            <p>Good space should design as bed room or living room.</p>
                            <p>Bad space should design as washroom, kitchen, store room or any space that people would not stay.</p>
                            <p>Cannot avoid the bad space?</p>
                            <p>1. Put some decoration to suppress the bad stars</p>
                            <p>Mishaps is Metal:</p>
                            <p>Use Fire to suppress---Material in Red color， Triangle Shape， Electronic Appliance</p>
                            <p>Five Ghosts is Fire:</p>
                            <p>Use Water to suppress---Material in Blue color， Curve， Moving or Flowing， Water Tank， Water Plants</p>
                            <p>Six Killings is Water:</p>
                            <p>Use Earth to suppress---Material in Yellow color， Circle， Stone decoration.</p>
                            <p>Disaster is Earth:</p>
                            <p>Use Wood to suppress---Material in Green color，Rectangle Shape， Wooden decoration.</p>
                            <p>2. Find a designer to renovate the mansion.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="solution_content">
                            <h3>Life and Mansion is not matched</h3>
                            <hr>
                            <p>Life and Mansion is not matched and cannot move to a new Mansion, try the followings:</p>
                            <p>1. Use the Qua of the house owner to plan the house (the calculator has done this)<br>
                                If the Life and Mansion is not matched, we can use the house owner's qua to plan the mansion and the house owner can stay in the Good Space. However, it is not so effective compare with the matched situation. Only 60% of goodness can be reached.</p>
                            <p>2. Change the direction of the main entrance<br>
                                The simpliest way to increase the lucky is to change the direction of the main entrance by just add a screen in front of the entrance and change the flow of the air. If you are a West life and the door is North, just add a screen and make the air flow from West to East, then it is good to West life.</p>
                            <p>3. Change the direction of the main entrance or renovate the mansion<br>
                                The most effective way is to change the direction of the main entrance or find a designer to renovate the mansion.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer">
            <div class="col-xs-12 col-sm-12 col-md-12 footer_background">
                <div class="footer_left">
                    <div class="col-xs-12 col-sm-2 col-md-1"></div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <img src="/assets/images/logo.png" alt="" width="120px" ; height="50px">
                        <span></span>
                    </div>
                </div>
                <div class="footer_center">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>FENG SHUI HOME</h4>
                            <div class="footer_address">
                                <p>Glorious Creation Vietnam Limited</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_right">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>风水屋</h4>
                            <div class="footer_address">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>