<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/explanation.css">
    <script type="text/javascript" src="/public/caleightmansionfs1_cn.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="js/script.js"></script> -->

</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="/cn"><img src="/assets/images/logo.png" alt="" width="200px" ; height="auto"></a>
                </div>
            </div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid nav_background">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/cn">主页</a></li>
                            <li><a href="/cn/explanation">解释</a></li>
                            <li><a href="/cn/solution">化解方法</a></li>
                        </ul>
                        <div class="nav navbar-nav navbar-right">
                            <ul class="nav navbar-nav navbar-right flag">
							  <li><a href="/"><span><img src="/assets/images/vn.png"  height="15px" width="20px"></span>| </a></li>							  
                              <li><a href="/cn"><span><img src="/assets/images/cn.jpg"  height="15px" width="20px"></span>|</a></li>	
                              <li><a href="/en"><span><img src="/assets/images/en.jpg" height="15px" width="20px"></span></a></li>						  
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        </header>

        <div class="content_Feng_Shui">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h3>风水屋</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 content_Feng_Shui_cl">
                        <div class="col-xs-2 col-sm-2 col-md-2 cl">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_green">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_blue">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_red">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_brown">
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div></br>
    <div class="container">
        <div class="content_background">
            <div class="row">
                <div class="content_right">
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="right">
                            <h3>生气--大吉</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>是第一吉利的位置，代表的是朝气蓬勃、精神饱满、前途光明， 该星具有积极的推动作用，其特点是活动力强，精力旺盛，并且还具有冲劲和魄力。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_left">
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="left">
                            <h3>天医--大吉</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>是我们每一个人第二吉利的位置，代表的是健康方面的情况。如果将卧室设在这个位面可以借助这个位面的磁场改善自身的体质，延年益寿，吃药打针治疗效果也会增加。 该星具有建设性的作用，其特点是生活安逸、稳定、吃得饱、睡得好，并且烦恼少，身强体健，还会有贵人相助。</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>

                </div>
                <div class="content_right">
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="right">
                            <h3>延年--中吉</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>是第三吉利的位置，与天医位面效应有所重复，也是延年益寿，增强身体素质的作用，但是同时这个位面也是桃花位，能滋养夫妻间的感情、婚姻美满、家庭幸福。 该星具有组合性的作用，其特点的比较随和、安逸、且有耐性，也懂得赞赏别人，自己也会获得肯定和满足。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_left">
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="left">
                            <h3>伏位--小吉</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>是第四吉利的位置，该星具有缓和性的作用 对赚钱比较敏感、家庭观念比较重， 男性在家中比较体贴、非常听从父母和太太的话，但会略嫌欠缺动力。</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>

                </div>
                <div class="content_right">
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="right">
                            <h3>绝命--大凶</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>该星具有杂乱性的作用，常常会因为琐事而产生忧虑、苦恼、烦闷、沉默等，并且凡事都会压抑在心中，容易产生心理疾病。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_left">
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="left">
                            <h3>五鬼--大凶</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>其星具有狂暴性的向上作用，容易烦躁或与人冲突，也会无意中得罪他人，人缘方面不佳，并且做事徒劳无功，得不到应有的回报。</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>

                </div>
                <div class="content_right">
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="right">
                            <h3>六煞--中凶</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>该星具有破坏性的向下作用，会经常的产生一些烦恼与是非，也比较容易失眠或产生耳鸣， 在判断方面易出错误。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_left">
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <div class="left">
                            <h3>祸害--小凶</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="about">
                                <p>该星具有腐蚀性的作用，比较容易被琐碎的杂事所干扰，并且容易疲倦、虚弱，常常会对自己的信心不足兵产生懒散。</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-3 col-sm-5 col-md-5"></div>

                </div>
            </div>
            <div class="button fix-button">
                <!-- <input type="button" value="Dung dịch" onclick="showsolution()"> -->
                <a class="btn btn-primary" id="btn" href="/cn/solution">化解方法</a>
            </div>
            <br>
        </div>

    </div></br>

    <div class="container">
        <div class="footer">
            <div class="col-xs-12 col-sm-12 col-md-12 footer_background">
                <div class="footer_left">
                    <div class="col-xs-12 col-sm-2 col-md-1"></div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <img src="/assets/images/logo.png" alt="" width="120px" ; height="50px">
                        <span></span>
                    </div>
                </div>
                <div class="footer_center">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>风水屋</h4>
                            <div class="footer_address">
                                <p>Glorious Creation Vietnam Limited</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_right">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>风水屋</h4>
                            <div class="footer_address">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>