<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/solution.css">

</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 xol-md-12">
                    <a href="/cn"><img src="/assets/images/logo.png" alt="" width="200px" ; height="auto"></a>
                </div>
            </div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid nav_background">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/cn">主页</a></li>
                            <li><a href="/cn/explanation">解释</a></li>
                            <li><a href="/cn/solution">化解方法</a></li>
                        </ul>
                        <div class="nav navbar-nav navbar-right">
                            <ul class="nav navbar-nav navbar-right flag">
							  <li><a href="/"><span><img src="/assets/images/vn.png"  height="15px" width="20px"></span>| </a></li>							  
                              <li><a href="/cn"><span><img src="/assets/images/cn.jpg"  height="15px" width="20px"></span>|</a></li>	
                              <li><a href="/en"><span><img src="/assets/images/en.jpg" height="15px" width="20px"></span></a></li>						  
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        </header>

        <div class="content_Feng_Shui">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h3>风水屋</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 content_Feng_Shui_cl">
                        <div class="col-xs-2 col-sm-2 col-md-2 cl">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_green">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_blue">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_red">
                            <hr />
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 cl cl_brown">
                            <hr />
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="solution_background">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="solution_content">
                            <h3>宅命相配</h3>
                            <hr>
                            <p>如果是东四命住东四宅，或者西四命住西四宅，当然就可以按照房屋的吉凶位来定吉凶了。</p>
                            <p>吉位設計: 睡房、起居生活空間</p>
                            <p>凶位設計: 廁所、廚房等人不會常停留的地方</p>
                            <p>避開不了凶位? </p>
                            <p>1. 可以放一些物件化煞。</p>
                            <p>绝命属金:</p>
                            <p>以火化解: 红色物件、三角形、电器、电子产品</p>
                            <p>五鬼属火:</p>
                            <p>以水化解: 蓝色物件、 曲线、 流动、 鱼缸、 水种植物</p>
                            <p>六煞属水:</p>
                            <p>以土化解: 黄色物件、 圆形、石制装饰</p>
                            <p>祸害属土:</p>
                            <p>以木化解: 绿色物件、长方形、木制装饰</p>
                            <p>2. 找個設計師重新按八宅明鏡佈置家居。</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="solution_content">
                            <h3>宅命不相配</h3>
                            <hr>
                            <p>宅命不相配又不能搬屋?那試試以下的方法:</p>
                            <p>1. 碰到宅命不相配的情况，不应该再以房屋的吉凶位来定吉凶，而应该以人的吉凶位来定，比如：人为离命，住兑宅。便可住在正东， 因为虽然兑宅的正东是大凶，但是按人的命卦方位来说，正东正是大吉生气位。 虽然说我们可以以人的命卦为准，但是其效果当然不如宅命相配的情况，但是以人的命卦为准，一般也可以达到宅命相配的情况下六成以上的效果。</p>
                            <p>2. 改變門向<br>
                                如何能提高这个效果呢，有個簡單的方法，就是设置屏风，屏风在家居中的重要性甚大，而在古代，更是使用极广，凡厅堂居室必设屏风。 例如对西四命的人来说，大門如果开在北方凶位，是大門带煞，但若在玄关加一屏风，屋外之气本从北向南流入，现改为从西至东进入，西乃本命吉方就可逢凶化吉。 屏风有三大作用：改变門位、分割空间、保护私隐。而根据制作材料的不同，又分成玻璃屏风、雕镂屏风、书画屏风等。 屏风的特点是占地面积小又容易灵活移动，不但可以改变門位，化解宅命不配的情况，而且还能化解外煞。 屏风放置于玄关，屏风的风水属于玄关风水的一部分。</p>
                            <p>3.改變門位或改內裝<br>
                                其实化解宅命不相配最显著的办法就是改变門位，甚至找個家居設計師幫忙改變內裝。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer">
            <div class="col-xs-12 col-sm-12 col-md-12 footer_background">
                <div class="footer_left">
                    <div class="col-xs-12 col-sm-2 col-md-1"></div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <img src="/assets/images/logo.png" alt="" width="120px" ; height="50px">
                        <span></span>
                    </div>
                </div>
                <div class="footer_center">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>风水屋</h4>
                            <div class="footer_address">
                                <p>Glorious Creation Vietnam Limited</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_right">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="row">
                            <h4>风水屋</h4>
                            <div class="footer_address">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>